/* ===== Scrollbar CSS ===== */
  /* Firefox */
//   * {
//     scrollbar-width: thin;
//     scrollbar-color: green #ffffff;
//   }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
	overflow: auto;
  }


  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 9px;
    // border: 0px none #ffffff;
  }

  // Horizontal Scroll -------------------->

  #Modal1::-webkit-scrollbar 
  {
    width: 8px;
	overflow: auto;
  }